$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


/**
 * Spinner
 */
.main-spinner{ visibility: hidden; opacity: 0; transition: opacity 0.3s 0.3s ease;
  position: fixed; z-index: 99999; top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.main-spinner.active{ visibility: visible; opacity: 1; }
