@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

.page {
  padding-top: 3rem;
}

.smaller {
  font-size: 90%;
}

.vertical-middle {
  vertical-align: middle;
}

.github-menu-item {
  margin-bottom: -6px;
  @include media-breakpoint-down(xs) {
    margin-top: 15px;
  }
}


/**
 * Spinner
 */
.main-spinner {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0.3s ease;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.main-spinner.active {
  visibility: visible;
  opacity: 1;
}

/**
 * Some bootstrap fixes
 */
.card > .card-header + .list-group > .list-group-item:first-child,
.card > .list-group + .card-footer {
  border-top: 0;
}

a, button, .btn {
  cursor: pointer;
}

.pull-right {
  float: right;
}

.btn-xs {
  // line-height: ensure proper height of button next to extra small input
  @include button-size(0.2rem, 0.4rem, 0.8rem, 0.8rem, $border-radius);
}
